In [1]:
import pandas as pd

In [2]:
terr2 = pd.read_csv('modified_globalterrorismdb_0718dist.csv')
terr2

,region_txt,country_txt,provstate,city,iyear,latitude,longitude,nkill,nwound,attacktype1
0,Central America & Caribbean,Dominican Republic,NaN,Santo Domingo,1970,18.456792,-69.951164,1.0,0.0,1
1,North America,Mexico,Federal,Mexico city,1970,19.371887,-99.086624,0.0,0.0,6
2,Southeast Asia,Philippines,Tarlac,Unknown,1970,15.478598,120.599741,1.0,0.0,1
3,Western Europe,Greece,Attica,Athens,1970,37.997490,23.762728,NaN,NaN,3
4,East Asia,Japan,Fukouka,Fukouka,1970,33.580412,130.396361,NaN,NaN,7
...,...,...,...,...,...,...,...,...,...,...
181686,Sub-Saharan Africa,Somalia,Middle Shebelle,Ceelka Geelow,2017,2.359673,45.385034,1.0,2.0,2
181687,Middle East & North Africa,Syria,Lattakia,Jableh,2017,35.407278,35.942679,2.0,7.0,3
181688,Southeast Asia,Philippines,Maguindanao,Kubentog,2017,6.900742,124.437908,0.0,0.0,7
181689,South Asia,India,Manipur,Imphal,2017,24.798346,93.940430,0.0,0.0,3
181690,Southeast Asia,Philippines,Maguindanao,Cotabato City,2017,7.209594,124.241966,0.0,0.0,3

In [6]:
terr2[['nkill', 'nwound', 'attacktype1']] = terr2[['nkill', 'nwound', 'attacktype1']].fillna(0)

In [7]:
terr2['iyear'].max()

2017

In [8]:
terr5 = terr2.groupby(['region_txt', 'country_txt', 'iyear'])[['nkill', 'nwound', 'attacktype1']].sum().reset_index()
terr5

,region_txt,country_txt,iyear,nkill,nwound,attacktype1
0,Australasia & Oceania,Australia,1970,0.0,0.0,3
1,Australasia & Oceania,Australia,1971,0.0,0.0,3
2,Australasia & Oceania,Australia,1972,1.0,0.0,12
3,Australasia & Oceania,Australia,1974,0.0,0.0,7
4,Australasia & Oceania,Australia,1978,2.0,9.0,6
...,...,...,...,...,...,...
3757,Western Europe,West Germany (FRG),1986,9.0,242.0,181
3758,Western Europe,West Germany (FRG),1987,2.0,32.0,80
3759,Western Europe,West Germany (FRG),1988,1.0,14.0,40
3760,Western Europe,West Germany (FRG),1989,5.0,8.0,87
3761,Western Europe,West Germany (FRG),1990,1.0,4.0,31

In [9]:
terr8 = terr2.groupby(['region_txt', 'country_txt', 'provstate', 'city', 'iyear', 'latitude', 'longitude'])[['nkill', 'nwound', 'attacktype1']].sum().reset_index()
terr8

,region_txt,country_txt,provstate,city,iyear,latitude,longitude,nkill,nwound,attacktype1
0,Australasia & Oceania,Australia,Australian Capital Territory,Canberra,1979,-35.308236,149.124224,0.0,0.0,3
1,Australasia & Oceania,Australia,Australian Capital Territory,Canberra,1988,-35.308236,149.124224,0.0,0.0,1
2,Australasia & Oceania,Australia,Australian Capital Territory,Canberra,1992,-35.308236,149.124224,0.0,3.0,9
3,Australasia & Oceania,Australia,Australian Capital Territory,Canberra,1994,-35.308236,149.124224,0.0,0.0,1
4,Australasia & Oceania,Australia,Australian Capital Territory,Canberra,1995,-35.308236,149.124224,0.0,0.0,18
...,...,...,...,...,...,...,...,...,...,...
79706,Western Europe,West Germany (FRG),Saxony-Anhalt,Groningen,1985,51.937440,11.216010,0.0,0.0,7
79707,Western Europe,West Germany (FRG),Schleswig-Holstein,Flensburg,1977,54.780395,9.435707,0.0,0.0,3
79708,Western Europe,West Germany (FRG),Schleswig-Holstein,Geesthacht,1985,53.430252,10.374086,0.0,0.0,3
79709,Western Europe,West Germany (FRG),Schleswig-Holstein,Geesthacht,1986,53.430252,10.374086,0.0,0.0,3
79710,Western Europe,West Germany (FRG),Schleswig-Holstein,Kampen,1973,54.953947,8.342259,0.0,0.0,7